name: Spell Check

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  spell-check:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: crate-ci/typos@master
